@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <img class="img-fluid" src="~/image/Cap_Shield.png" /> 
</div>
<div class="text-center">
    <h1 class="display-4">This is the best Super Brandon Creator in the WORLD!</h1>
    </div>
